[submodule "external/HighMap"]
	path = external/HighMap
	url = https://github.com/ottolink-dev/HighMap.git
[submodule "external/args"]
	path = external/args
	url = https://github.com/Taywee/args.git
[submodule "external/GNodeGUI"]
	path = external/GNodeGUI
	url = https://github.com/ottolink-dev/GNodeGUI.git
[submodule "external/GNode"]
	path = external/GNode
	url = https://github.com/ottolink-dev/GNode.git
[submodule "external/QTerrainRenderer"]
	path = external/QTerrainRenderer
	url = https://github.com/ottolink-dev/QTerrainRenderer.git
[submodule "external/QTextureDownloader"]
	path = external/QTextureDownloader
	url = https://github.com/ottolink-dev/QTextureDownloader.git
[submodule "external/Meta"]
	path = external/Meta
	url = https://github.com/ottolink-dev/Meta.git
