[submodule "external/HighMap"]
	path = external/HighMap
	url = git@github.com:otto-link/HighMap.git
[submodule "external/gnode"]
	path = external/GNode
	url = git@github.com:otto-link/GNode.git
	ignore = untracked
[submodule "external/macro-logger"]
	path = external/macro-logger
	url = git@github.com:dmcrodrigues/macro-logger.git
[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/imgui-node-editor"]
	path = external/imgui-node-editor
	url = git@github.com:thedmd/imgui-node-editor.git
