R""(
    /* https://doc.qt.io/qt-6/stylesheet-examples.html */
    
    * {
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-style: none;
	border-image: none;
	outline: 0;
	background-color: #2B2B2B;
    }

    QPushButton::disabled, QProgressBar::disabled, QProgressBar::chunk::disabled
    {
	color: #3C3C3C;
	background-color: #3C3C3C;
    }
    
    /* QMainWindow */

    QRadioButton
    {
	color: #DFE1E2;
    }

    /* https://stackoverflow.com/questions/38369015 */
    QTabWidget::pane
    {
	color: #DFE1E2;
	border: 1px solid #5B5B5B;
	top:-1px; 
	background: #2B2B2B;
    } 

    QTabBar::tab
    {
	color: #DFE1E2;
	background: #2B2B2B;
	border: 1px solid #5B5B5B;
	padding: 5px 20px 5px 20px;
    } 

    QTabBar::tab:selected
    { 
	background: #4772b3;
	margin-bottom: -1px; 
    }
    
    /* QAbstractSpinBox */

    QAbstractSpinBox
    {
	background-color: #2B2B2B;
	border: 1px solid #5B5B5B;
	color: #DFE1E2;
	padding: 4px;
	border-radius: 4px;
    }
    
    /* QCheckBox */

    QCheckBox
    {
	background-color: #2B2B2B;
	color: #DFE1E2;
	spacing: 4px;	
	padding: 4px;
    }

    QCheckBox::indicator
    {
	width: 14px;
	height: 14px;
	border: 1px solid #4772b3;
    }

    QCheckBox::indicator:checked
    {
	background-color: #4772b3;
    }

    QTableView::indicator
    {
    	width: 14px;
	height: 14px;
	border: 1px solid #DFE1E2;
    }
    
    QTableView::indicator:checked
    {
	background-color: #DFE1E2;
    }
    
    /* QComboBox */
    
    QComboBox
    {
	border: 1px solid #5B5B5B;
	border-radius: 4px;
	padding: 4px;
	selection-background-color: #5B5B5B;
	color: #DFE1E2;
	background-color: #4B4B4B; 
    }

    /* .QFrame */
    
    .QFrame
    {
 	background-color: #5B5B5B;
	border: 0px;
    }
    
    /* QLabel */
    
    QLabel
    {
	background-color: #2B2B2B;
	border: 0px;
	padding: 0px;
	margin: 0px;
	color: #DFE1E2;
    }

    /* QLineEdit */

    QLineEdit
    {
	background-color: #2B2B2B;
	padding: 4px;
	border-style: solid;
	border: 1px solid #5B5B5B;
	border-radius: 4px;
	color: #DFE1E2;
    }

    /* QMenu */

    QMenuBar {
	background-color: #2B2B2B;
	padding: 2px;
	border: 0px solid #5B5B5B;
	color: #DFE1E2;
	selection-background-color: #ABABAB;
    }
    
    QMenu {
	border: 0px solid #5B5B5B;
	color: #DFE1E2;
	margin: 1px;
	border-radius: 4px;
	background-color: #2B2B2B;
	selection-background-color: #ABABAB;
    }

    QMenu::separator
    {
	height: 1px;
	background-color: #ABABAB;
	color: #ABABAB;
    }
    
    /* QPixmap */
    
    QPixmap
    {
	outline: none;
    }

    /* QPushButton */

    QPushButton,
    QToolButton
    {
	background-color: #4B4B4B;
	color: #DFE1E2;
	border-radius: 4px;
	padding: 4px;
	outline: none;
	border: 1px solid #5B5B5B;
    }

    QToolButton
    {
	background-color: #2B2B2B;
    }

    QPushButton:checked,
    QToolButton:checked
    {
	background-color: #4772b3;
	border-radius: 4px;
	padding: 4px;
	outline: none;
    }

    QPushButton:hover,
    QToolButton:hover
    {
	background-color: #8B8B8B;
	color: #DFE1E2;
    }

    QPushButton:pressed,
    QToolButton:pressed
    {
	background-color: #ABABAB;
    }

    QPushButton:selected,
    QToolButton:selected
    {
	background: #5B5B5B;
	color: #DFE1E2;
    }

    /* QTreeView */

    QTreeView,
    QListView,
    QTableView,
    QColumnView
    {
	background-color: #2B2B2B;
	border: 1px solid #5B5B5B;
	color: #DFE1E2;
	gridline-color: #5B5B5B;
	border-radius: 4px;
    }

    QTreeView::item:!selected:hover,
    QListView::item:!selected:hover,
    QTableView::item:!selected:hover,
    QColumnView::item:!selected:hover
    {
	outline: 0;
	color: #DFE1E2;
	background-color: #5B5B5B;
    }

    QTreeView::item:selected:active,
    QListView::item:selected:active,
    QTableView::item:selected:active,
    QColumnView::item:selected:active
    {
	background-color: #ABABAB;
    }

    QHeaderView {
	color: #DFE1E2;
	background-color: #2B2B2B;
    }
    
    /* QSlider */
    
    QSlider::groove:horizontal
    { 
	background: #5B5B5B;
	height: 24px; 
	border-radius: 4px;
    }

    QSlider::handle:horizontal
    { 
	background-color: #ABABAB;
	width: 24px; 
	height: 24px; 
	border-radius: 8px;
    }

    QSlider::groove:vertical
    { 
	background: #5B5B5B;
	width: 24px; 
	border-radius: 4px;
    }

    QSlider::handle:vertical
    { 
	background-color: #ABABAB;
	width: 24px; 
	height: 24px; 
	border-radius: 8px;
    }
    
    /* QTextEdit */
    
    QTextEdit
    {
	background-color: #5B5B5B;
	color: #DFE1E2;
	border-radius: 4px;
	border: 1px solid #5B5B5B;
    }

    /* QPlainTextEdit */

    QPlainTextEdit
    {
	background-color: #5B5B5B;
	color: #DFE1E2;
	border-radius: 4px;
	border: 1px solid #5B5B5B;
    }

    /* QToolTip */
    
    QToolTip
    {
	color: #DFE1E2;
	background-color: #5B5B5B;
    }

    QProgressBar
    {
	border: 1px solid #5B5B5B;
	border-radius: 4px;
	text-align: center;
	color: #DFE1E2;
    }

    QProgressBar::chunk
    {
	background-color: #4772b3;
	width: 20px;
    }
    
)""
